.pixel {

	/* border: 1px solid blue;	*/
	margin-left:-1px; /* take out horizontal spacing between the divs */
	float:left;
	display: block;	
	margin-bottom: -1px;	/* take out vertical spacing between the divs */
}


.rowstart {
	clear:left; /* makes the divs separate out into rows.  Took some trial and error to figure it out of course! */
}

.highlighted {
	background-color: #222;
}

#main {
	width: 715px;
	height: 540px;
	position: relative;
	top: -710px;
	left: 160px;
}

#settings {
	background-color: #aaa;
	border: 1px solid #222;
	width: 1024px;
	border-radius: 10px;
}

#title {
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-align: center;	
}

button {
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 0px 0px 10px 10px;
}


